
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<html>
<head>

  <script src="https://kit.fontawesome.com/f673493116.js" crossorigin="anonymous"></script>
  <style type="text/css">
.button{

border: none;

padding: 15px;

color: rgb(0, 0, 0);

background-color: rgb(0, 162, 255);

border-radius: 15px;

}

  </style>
  <script type="text/javascript">

function changeColor() {
  document.getElementById("button").style.backgroundColor = "#911";
}
  </script>
</head>
<body>


<div class="container">
  <% for(let i = 0; i < petfinder.animals.length; i++) { %>
    <% if(i % 4 == 0){ %>
      <div class="row mt-5">
    <% } %> 
    <div class="col-3">
      <div class="card d-flex flex-column h-100" style="border-color: rgb(0, 179, 255);">
        <img class="card-img-top" src= "<%= petfinder.animals[i].photos[0].full %>" alt="Card image cap" width="200" height ="300">
        <div class="card text-center border-0">
        <div class="card-body flex-fill">
          <h5 class="card-title"><%= petfinder.animals[i].name %></h5>
          <p class="card-text"><%= petfinder.animals[i].breeds.primary%> - <%= petfinder.animals[i].gender%>
            <div id="favoriteDiv">
              <form action = "/favorite" method = "post">
                <input type="hidden" name = "animal_id" value = "<%= petfinder.animals[i].id%>">
                <!-- <button onclick="favoriteFunction1()" id= "favoriteHeart1" type="submit"><i class="fa-regular fa-heart"></i></button> -->
                <button id= "button" type="submit" class="button" style="color: white" onclick="changeColor()">Favorite</button>
              </form>
          </div>
          </p>

          <form action="/dog/<%= petfinder.animals[i].id %>" method="GET">
            <input type="submit" value="View Animal" class="px-3">
          </form>


                <!-- JavaScript code to handle the button click -->
                <script>
                  const viewAnimalBtns = document.querySelectorAll('.view-animal-btn');
                  
                  viewAnimalBtns.forEach(btn => {
                    btn.addEventListener('click', (event) => {
                      event.preventDefault();
                      const petfinderUrl = event.target.getAttribute('data-petfinder-url');
                      window.open(petfinderUrl, '_blank');
                    });
                  });
                </script>
        </div>
      </div>
      </div>
    </div>

    <% if((i+1) % 4 == 0 || i == petfinder.animals.length-1){ %>
    </div>
    <% } %> 
  <% } %>
</div>
      
</body>
</html>
<%- include ('../partials/footer') %>