
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<html>
<head>

  <script src="https://kit.fontawesome.com/f673493116.js" crossorigin="anonymous"></script>
  <style type="text/css">

.fa-heart{
    color: rgb(0, 179, 255);;
    font-size: 12vh;
    
    cursor: pointer;
}

.fa-solid.fa-heart{
    animation: heartPulse;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes heartPulse{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
        color: rgb(0, 179, 255);;
    }
    100%{
        scale: 1;
    }
}

  </style>
  <script type="text/javascript">
 let favorite = 0;

function favoriteFunction1(){
    if (favorite == 0) {
    document.getElementById("favoriteHeart1").className = "fa-solid fa-heart";
    favorite = 1;
    } else {
    document.getElementById("favoriteHeart1").className = "fa-regular fa-heart";
    favorite = 0;
    }
};
function favoriteFunction2(){
    if (favorite == 0) {
    document.getElementById("favoriteHeart2").className = "fa-solid fa-heart";
    favorite = 1;
    } else {
    document.getElementById("favoriteHeart2").className = "fa-regular fa-heart";
    favorite = 0;
    }
};
function favoriteFunction3(){
    if (favorite == 0) {
    document.getElementById("favoriteHeart3").className = "fa-solid fa-heart";
    favorite = 1;
    } else {
    document.getElementById("favoriteHeart3").className = "fa-regular fa-heart";
    favorite = 0;
    }
};
function favoriteFunction4(){
    if (favorite == 0) {
    document.getElementById("favoriteHeart4").className = "fa-solid fa-heart";
    favorite = 1;
    } else {
    document.getElementById("favoriteHeart4").className = "fa-regular fa-heart";
    favorite = 0;
    }
};

  </script>
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-3">
          <div class="card" style="border-color: rgb(0, 179, 255);">
            <img class="card-img-top" src= "<%= petfinder.animals[0].photos.full %>" alt="Card image cap" width="200" height ="300">
            <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"><%= petfinder.animals[0].name %></h5>
              <p class="card-text"><%= petfinder.animals[0].breeds.primary%> - <%= petfinder.animals[0].gender%>

                <div id="favoriteDiv">
                  <form action = "/favorite" method = "post">
                    <input type="hidden" name = "animal_id" value = "<%= petfinder.animals[0].id%>">
                    <!-- <button onclick="favoriteFunction1()" id= "favoriteHeart1" type="submit"><i class="fa-regular fa-heart"></i></button> -->
                    <button id= "favoriteHeart1" type="submit"><i class="fa-regular fa-heart"></i></button>
                  </form>
              </div>

              </p>
              
            </div>
          </div>

          </div>
        </div>



        <div class="col-3">
            <div class="card" style="border-color: rgb(0, 179, 255);">
              <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title"><%= petfinder.animals[1].name %></h5>
                  <p class="card-text"><%= petfinder.animals[1].breeds.primary%> - <%= petfinder.animals[1].gender%>
    
                    <div id="favoriteDiv">
                      <form action = "/favorite" method = "post">
                        <input type="hidden" name = "animal_id" value = "<%= petfinder.animals[1].id%>">
                        <!-- <button onclick="favoriteFunction2()" id= "favoriteHeart1" type="submit"><i class="fa-regular fa-heart"></i></button> -->
                        <button id= "favoriteHeart2" type="submit"><i class="fa-regular fa-heart"></i></button>
                      </form>
                  </div>
                  </p>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="card" style="border-color: rgb(0, 179, 255);">
              <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title"><%= petfinder.animals[2].name %></h5>
                  <p class="card-text"><%= petfinder.animals[2].breeds.primary%> - <%= petfinder.animals[2].gender%>
    
                    <div id="favoriteDiv">
                      <form action = "/favorite" method = "post">
                        <input type="hidden" name = "animal_id" value = "<%= petfinder.animals[2].id%>">
                        <!-- <button onclick="favoriteFunction3()" id= "favoriteHeart1" type="submit"><i class="fa-regular fa-heart"></i></button> -->
                        <button id= "favoriteHeart3" type="submit"><i class="fa-regular fa-heart"></i></button>
                      </form>
                  </div>
                  </p>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="card" style="border-color: rgb(0, 179, 255);">
              <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title"><%= petfinder.animals[3].name %></h5>
                  <p class="card-text"><%= petfinder.animals[3].breeds.primary%> - <%= petfinder.animals[3].gender%>
    
                    <div id="favoriteDiv">
                      <form action = "/favorite" method = "post">
                        <input type="hidden" name = "animal_id" value = "<%= petfinder.animals[3].id%>">
                        <!-- <button onclick="favoriteFunction4()" id= "favoriteHeart1" type="submit"><i class="fa-regular fa-heart"></i></button> -->
                        <button id= "favoriteHeart4" type="submit"><i class="fa-regular fa-heart"></i></button>
                      </form>
                  </div>
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="row mt-5">
        <div class="col-3">
          <div class="card">
            <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Age - Breed - Gender</p>
            </div>
          </div>
        </div>

        <div class="col-3">
            <div class="card">
              <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Age - Breed - Gender</p>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="card">
              <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Age - Breed - Gender</p>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="card">
              <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Age - Breed - Gender</p>
              </div>
            </div>
          </div>

    </div>

    <div class="row mt-5">
        <div class="col-3">
          <div class="card">
            <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Age - Breed - Gender</p>
            </div>
          </div>
        </div>

        <div class="col-3">
            <div class="card">
              <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Age - Breed - Gender</p>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="card">
              <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Age - Breed - Gender</p>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="card">
              <img class="card-img-top" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Age - Breed - Gender</p>
              </div>
            </div>
          </div>

    </div>
</div>
</body>
</html>
<%- include ('../partials/footer') %>